<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost;database=szpital</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.connection.username">Sa</property>
        <property name="hibernate.connection.password">Haslo123</property>

        <mapping class="model.entities.AdresyEntity"/>
        <mapping class="model.entities.DiagnozyEntity"/>
        <mapping class="model.entities.LeczenieEntity"/>
        <mapping class="model.entities.LeczenieLekiEntity"/>
        <mapping class="model.entities.LekarzeEntity"/>
        <mapping class="model.entities.LekiEntity"/>
        <mapping class="model.entities.OddzialyEntity"/>
        <mapping class="model.entities.PacjenciEntity"/>
        <mapping class="model.entities.SaleEntity"/>
        <mapping class="model.entities.UzytkownicyEntity"/>


    </session-factory>
</hibernate-configuration>
